:root {
    --bluebutton: #5E87EB;
    --blackfonts: rgba(63, 63, 63, 0.966);
    --bluebuttonhover: #2e54b4;
    --srtgradient: #5E7DEA;
    --endgradient:#6125DE;
}


body {
font-family:'Cabin', sans-serif;
margin: 0;
display: block;
width: 100%;
}

.div-1 {
    width: 100%;
    max-width: 1386px;
    min-width: 1000px;
    margin: 0px auto; /*coloco auto para que ele sempre centralize na tela  */ 
}

.header-1 {
    width: 100%;
    height:15px;
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-1 {
    font-size: 30px;
    font-weight: bold;
}

.nav-1 {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-1 a {
    font-size: 16px;
    color: rgba(32, 31, 31, 0.966);
    text-decoration: none;
}

.div-2-buttons{
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-3-buttons{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-white {
    background-color: rgb(255, 255, 255);
    color: var(--bluebutton);
    border-radius: 50px;
    font-size: 14px;
    padding: 12px 22px 12px 22px;
    border: 0px;
    box-shadow: 0px 0px 5px 5px rgb(234, 235, 238);
    cursor: pointer;
}

.button-blue {
    background-color:var(--bluebutton);
    color: white;
    border-radius: 50px;
    font-size: 14px;
    padding: 12px 22px 12px 22px;
    border: none;
    cursor: pointer;
}

.button-log:hover {
    background-color:var(--bluebuttonhover);
}

.button-white-learn:hover {
    background-color:var(--bluebuttonhover);
    color: white;
}

.div-2 {
padding-left: 120px;
padding-right: 120px;
background: url(./images/home-bg.jpg);
background-repeat: no-repeat;
background-size: 100%;
height: 650px;
}

.div-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.div-3 h1{
    font-size: 38px;
    font-weight: bold;
    line-height: 45px;
}
.div-3 p{
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 25px;
    font-size: 16px;
}

.div-4 {
width: 500px;
color: var(--blackfonts);
}

.span-1 {
    color: var(--bluebutton);
}

.img-bsc {
    width: 500px;
    height: 500px;
}

p {
    margin-bottom: 25px;
}

.div-it {
    background-color: #F1F5F8;
    padding-left: 120px;
    padding-right: 120px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div-it div{
    background-color:  #fff;
    width: 280px;
    height: 280px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 0px 5px 5px rgb(234, 235, 238);
    padding: 35px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height: 30px;
    color: var(--blackfonts);
}

.div-it h3{
    font-weight: bold;
    font-size: 18px;
}

.figure-it {
background-color: #F1F5F8;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 20px;
}

.figure-it-web {
    background:#F1F5F8 url(./images/icon-2.png);
    background-size: 50%;
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 20px;
}

.card-it:hover {
    background-image: linear-gradient(45deg, var(--bluebutton),var(--endgradient));
    color: #fff;
}

.card-it:hover a {
       color: #fff;
}

.div-5 {
    background-color: #E1E4EB;
    padding-left: 120px;
    padding-right: 120px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    color: var(--blackfonts);
}

.div-5 button{
width: 250px;
height: 45px;
background-color:#fff ;
border-top: 0px;
border-right: 0px;
border-bottom: 0px;
border-left: 3.5px solid var(--srtgradient);
margin-right: 20px;
margin-bottom: 25px;
border-bottom-right-radius: 10px;
box-shadow: 0px 0px 5px 5px #dbdee4;
font-size: 14px;
}

.btn-1 {
    background-image: linear-gradient(to right, var(--srtgradient),var(--endgradient));
    color: white;
}

.div-5-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 500px;
}

.div-5 h1{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 30px;
}

.div-5-2 {
    background-color:#F1F5F8 ;
}

.div-6 {
    height: 280px;
    background-image: linear-gradient(to right, #AFBEF5, #B092EF);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}

.div-6 h1{
    font-size: 40px;
    font-weight: bold;
}